name: Test Teraslice Asset
run-name: ${{ github.actor }} is testing the Teraslice Asset
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'release/chaos-assets-v*'
  pull_request:
    branches:
      - main
      - 'release/chaos-assets-v*'

jobs:
  call-asset-test-workflow:
    uses: terascope/workflows/.github/workflows/asset-test.yml@main
    secrets: inherit
